{% extends "base.html" %}

{% block titulo %}
Acerca de la App
{% endblock %}

{% block contenido %}

{% include "fragments/titulo.html" with titulo="Inicio" %}
    
{% include "fragments/card_start.html" with header="Bienvenido man!" %}
    <h4 class="card-title">
        {% if user.is_authenticated %}
            Hola {{user.email}}
        {% else %}
            <a href="{% url "usuarios:login" %}">Login</a>
        {% endif %}</h4>
    <p class="card-text">{% lorem 5 %}</p>
    {% include "fragments/card_finish.html" %}
{% endblock %}