{% load socialaccount %}
{% providers_media_js %}

<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="bs-component">
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">MLDATA SOLUTIONS</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="{% url "core:home" %}">Inicio
                          <span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Registrar</a>
                      </li>
                      {% comment %} <<li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>> {% endcomment %}
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catálogos</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#"
                          hx-get = "{% url "control:mark_list" %}"
                          hx-triger="click" hx-target="#body"
                          hx-push-url="true"
                          style="cursor:pointer;"
                          >Marcas</a>
                          <a class="dropdown-item" href="{% url "control:modelo_list" %}">Modelos</a>
                          <a class="dropdown-item" href="#">Vehiculos</a>
                          {% comment %} <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a> {% endcomment %}
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "pages:about" %}">Acerca de...</a>
                      </li>
                    </ul>
                    <form class="d-flex">
                      <input class="form-control me-sm-2" type="search" placeholder="Search">
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="d-flex">
                      {% if user.is_authenticated %}
                      <a href="{% url "usuarios:logout" %}">Salir</a>
                      {% else %}
                      <a href="{% url "usuarios:login" %}">Login</a>
                      | <a href="{% url "usuarios:registro" %}">Registro</a>
                      | <a href="{% provider_login_url 'google' %}?next=/">Google</a>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </nav>            
        </div>  
    </div>
</div>