{% load crispy_forms_tags %}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="{{request.path}}" method = "POST">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-plus-circle"></i>Guardar</button>
                <a href="{% url "control:modelo_list" %}"><i class="bi bi-x-octagon-fill"></i>Cancelar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    
    </div>
</div>
