{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}App Ctrol Combustible Curso{% endblock %}</title>

    <link rel="stylesheet" href="{% static "css/bootstrap_slate.min.css" %}">


</head>
<body>
    <!-- Menu -->
    {% include "fragments/menu.html" %}
    <!--Fin Menu-->
    <div>

    </div>
    <!--Fin Menu-->
    
    <div class="row">
        <div class="container-sm">
            {% block contenido%} 
            {% endblock contenido%}
        </div>
    </div>
   

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
</body>
</html> 